<!doctype html>
<html lang="en">
  <head>
    <title>About Us</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- custom css -->
    <link rel='stylesheet' href='/stylesheets/AboutPage.css' />
  </head>
  <body>

    <!-- Embedding navbar from partials folder -->
    <%-include("./Partials/NavBar"); %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 about-text p-5">
          <h3>About Us</h3>
          <hr>
          <h4>EASY ACCESS TO A VARIETY OF CLASSES</h4>
          <p>We offer a wide range of group classes on a drop-in basis, so there's always something to fit your mood and fitness level.
            Our Club offers group yoga classes, cardio workouts and resistance training sessions</p>
          <h2>100 FREE CLASSES</h2>
          <a href="/users/register">Register Now&nbsp!</a>

        </div>
        <div class="col-md-6 about-img p-0">
          <img src="../images/about-page-img.jpg" alt="">
        </div>
      </div>
    </div>
    
    <!-- Embedding footer from partials folder -->
    <%-include("./Partials/Footer"); %>
  </body>
</html>